@using Proyecto_KM.Utils
@using Proyecto_KM.Models

@{
    ViewBag.Title = "Agenda";
}


<div class="container mt-5 mb-5">
    @foreach (Proyecto_KM.Models.Task currentTask in Storage.Instance.tareasAgendadas.IenumColaPrioridad)
    {
        if (currentTask.Nombre.Equals(Storage.Instance.tareasAgendadas.Peek().Nombre))
        {
    <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <strong>@currentTask.Nombre</strong> @currentTask.Apellido -- @currentTask.DPI -- @currentTask.Departamento -- @currentTask.MunicipioResidencia
        <button type="submit" class="close">
            <span aria-hidden="true"><a href="@Url.Action("finalizarTask","Agenda")">&times;</a></span>
        </button>
    </div>
        }
        else
        {
<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    <strong>@currentTask.Nombre</strong> @currentTask.Apellido -- @currentTask.DPI -- @currentTask.Departamento -- @currentTask.MunicipioResidencia
</div>
        }

    }

</div>
