@model Proyecto_KM.Models.Task


<div class="card horizontal">
    <div class="card-stacked">
        <div class="card-content">
            <p>@Model.Nombre</p>
        </div>
        <div class="card-action flex-column">
            <p>Nombre: @Model.Nombre</p>
            <p>Apellido: @Model.Apellido</p>
            <p>DPI: @Model.DPI</p>
            <p>Departamento: @Model.Departamento</p>
            <p>Municipio: @Model.MunicipioResidencia</p>

        </div>
    </div>
</div>